body {
  text-align: center;
}
.header {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
}
.menu {
  font-family: Helvetica;
  font-size: 18px;
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p {
  font-family: Helvetica;
  font-size: 14px;
}
.footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.nav {
  color: white;
}
